# Environment variables
.env
*.env

# Virtual environment
.venv/
venv/
ENV/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Bytecode and build
build/
dist/
*.egg-info/
